extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Mary Robin Rose

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I first began learning to code when I was in high school when having a customized LiveJournal was of utmost importance. In college I began a different path that took me on a professional photography journey. I've since found my way back to web development.
            | I now merge my tech skills and creativity to develop websites and apps. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li API
          li AJAX
          li CSS
          li HTML
        h6 Contact Info

        //- Add your own contact info
        ul
          li maryrobinrose@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/maryrobinrose/') LinkedIn
        a.button.expanded(href='https://github.com/maryrobinrose') GitHub
        a.button.expanded(href='https://twitter.com/maryrobinrose') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
