extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Mary Robin Rose

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I first began learning to code when I was in high school when having a customized LiveJournal was of utmost importance. In college I began a different path that took me on a professional photography journey. I've since found my way back to web development.
            | I now merge my tech skills and creativity to develop websites and apps.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li API
          li AJAX
          li CSS
          li HTML

        h6 Contact Info

        ul
          li maryrobinrose@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/maryrobinrose/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/maryrobinrose' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/maryrobinrose' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
