/*
Complete your Pug files
-->>Go through each of the four Pug templates to inject your data. The Pug files contain comments that detail each change you will need to make. You can and should delete these comments when you are finished with this step. But you should wait to do so until everything is working as it should, in case you need to refer to these notes during development.
-->>Leave the example HTML files in your project so your reviewer can reference them.
-->>Note: Consider adding a target attribute set to _blank on the a tags for the live links to your projects so that they open in a new window.

*/


extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Use interploation to dynamically add the project title.
        h1 Title

        //- Use interploation to dynamically add the project description.
        p.lead.text-light
          | Description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Use an `each` iterator to replace the li tags below and interploation to dynamically add the technologies used in each project.
        ul
          li HTML
          li CSS
          li JavaScript

        //- Use template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
        a.button.expanded(href='') Live Demo
        a.button.expanded(href='') GitHub Repo

    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential emplyers will like to see.
    img.image(src=`/img/${project.image_urls[0]}`)
    img.image(src=`/img/${project.image_urls[1]}`)
    img.image(src=`/img/${project.image_urls[2]}`)
